<template>
  <button 
    :class="classes"
    type="button"
    :aria-label="label"
    @click="handleClick"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    color: {
      type: String,
      default: 'gray',
    },
    label: {
      type: String,
      default: null,
    },
    scaleIn: {
      type: Boolean,
      default: false,
    },
    animateIcon: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['click'],
  data() {
    return {
      isMounted: false,
      isAnimating: false,
    };
  },
  computed: {
    classes() {
      return {
        // Default styles
        'button p-2.5 rounded-2xl overflow-hidden outline-0': true,
        'bg-gray-100 text-gray-700': this.color === 'gray',
        'bg-indigo-100 text-blue-600': this.color === 'blue',

        // Transition styles
        'transition-button duration-250 ease-out-alt transform-gpu': true,

        // Hover styles
        'hover:scale-105': true,

        // Focus styles
        'focus:ring-offset-2 focus:ring-4': true,
        'focus:bg-gray-200 focus:ring-gray-700/70': this.color === 'gray',
        'focus:bg-indigo-200 focus:ring-blue-600/70': this.color === 'blue',

        // Active styles
        'active:scale-[1.0001]': true,

        'scale-0': this.scaleIn && !this.isMounted,
        'scale-[1.0001]': !this.scaleIn || this.isMounted,
        'animate': this.isAnimating,
      };
    },
  },
  mounted() {
    // This is required for scale transition
    setTimeout(() => {
      this.isMounted = true;
    }, 0);
  },
  methods: {
    handleClick() {
      this.$emit('click');

      if (this.animateIcon) {
        this.isAnimating = true;

        setTimeout(() => {
          this.isAnimating = false;
        }, 250);
      }
    },
  },
};
</script>

<style>
.button.animate > * {
  animation-name: slide;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.25, 1.5, 0.5, 1);
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -3rem, 0);
  }
  51% {
    transform: translate3d(0, 3rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
</style>
