<template>
  <div class="flex items-start gap-x-7 mt-10 first:mt-0">
    <div class="flex-grow flex flex-wrap gap-3 p-3 border-2 border-gray-300 rounded-2xl min-h-[5.75rem]">
      <UpvoteButton
        v-for="button in upvoteButtons"
        :key="button.id"
        :is-selected="isSelected"
        @click="handleUpvoteClick"
      />
    </div>
    <div class="flex-shrink-0 pt-3.5">
      <BaseButton @click="handleAddUpvoteClick">
        <img
          class="w-11"
          src="../assets/plus-icon.svg"
          alt="Add upvote button"
        >
      </BaseButton>
    </div>
  </div>
</template>

<script>
import BaseButton from './BaseButton.vue';
import UpvoteButton from './UpvoteButton.vue';

export default {
  name: 'UpvoteButtonGroup',
  components: {
    BaseButton,
    UpvoteButton,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      upvoteButtons: [],
      nextButtonId: 1,
    };
  },
  computed: {
    isSelected() {
      return this.$store.getters.getUpvoteGroup(this.id).isSelected;
    },
  },
  methods: {
    handleUpvoteClick() {
      this.$store.commit('toggleUpvote', { id: this.id });
    },
    handleAddUpvoteClick() {
      if (this.upvoteButtons.length < 7) {
        this.upvoteButtons.push({ id: this.nextButtonId });
        this.nextButtonId++;
      } else {
        alert('Cannot add more than 7 upvote buttons.');
      }
    },
  },
};
</script>
