<template>
  <BaseButton
    :color="color"
    label="Upvote"
    scale-in
    animate-icon
    @click="$emit('click')"
  >
    <ArrowUpIcon />
  </BaseButton>
</template>

<script>
import ArrowUpIcon from './ArrowUpIcon.vue';
import BaseButton from './BaseButton.vue';

export default {
  name: 'UpvoteButton',
  components: {
    ArrowUpIcon,
    BaseButton,
  },
  props: {
    isSelected: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['click'],
  computed: {
    color() {
      return this.isSelected ? 'blue' : undefined;
    },
  },
};
</script>
