<template>
  <div class="button-group-container">
    <UpvoteButtonGroup
      v-for="group in upvoteGroups"
      :id="group.id"
      :key="group.id"
    />
  </div>
</template>

<script>
import UpvoteButtonGroup from './components/UpvoteButtonGroup.vue';
import { mapState } from 'vuex';

export default {
  name: 'App',
  components: {
    UpvoteButtonGroup,
  },
  computed: {
    ...mapState([
      'upvoteGroups',
    ]),
  },
};
</script>

<style scoped>
.button-group-container {
  @apply max-w-[19.75rem] bg-white rounded-2xl shadow-lg px-7 py-10 mx-auto transition-[max-width];
}

@media (min-width: 480px) {
  .button-group-container {
    @apply max-w-[24.5rem];
  }
}

@media (min-width: 544px) {
  .button-group-container {
    @apply max-w-[29.25rem];
  }
}

@media (min-width: 608px) {
  .button-group-container {
    @apply max-w-[34rem];
  }
}

@media (min-width: 672px) {
  .button-group-container {
    @apply max-w-[38.75rem];
  }
}

@media (min-width: 736px) {
  .button-group-container {
    @apply max-w-[43.5rem];
  }
}
</style>
